/*----------------------------------------------------------- DRAWING MODE--------------------------------------------------------------------*/
.drawing-mode-heading {
    margin: 20px
}

.divider {
    border: dashed 2px #6fff8f;
}

.grid-cell {
    height: 16px;
    width: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Courier New', monospace;
    font-size: 1rem;
    line-height: 1;
    box-sizing: border-box;
    user-select: none;
}

.grid-row {
    display: flex;
    flex-direction: row;
}

.grid-container {
    background-color: white;
    display: flex;
    flex-direction: column;
    color: black;
    cursor: pointer;
}
/*----------------------------------------------------------- PANEL--------------------------------------------------------------------*/
.drawing-mode-panel {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
.drawing-heading {
    margin-top: 40px;
    margin-bottom: 20px;
    background-color: #1b1b1b;
    padding: 25px;
    border-radius: 10px;
    border: 2px solid rgb(20, 20, 20);
}

.characters-grid {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: 5px;
}

.character-tile {
    background-color: #333;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Courier New', monospace;
    font-size: 1.4rem;
    line-height: 1;
    box-sizing: border-box;
    user-select: none;
    border: 1px solid black;
}

.eraser-button {
    padding: 10px;

}

.eraser-button.selected {
    background-color: #6c906e;
}

.character-tile.selected {
    background-color: #6c906e;
}