/*----------------------------------------------------------- DRAWING MODE--------------------------------------------------------------------*/
.drawing-mode-heading {
    margin: 20px
}

.divider {
    border: dashed 2px #6fff8f;
}

/*----------------------------------------------------------- PANEL--------------------------------------------------------------------*/
.drawing-mode-panel {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
.drawing-heading {
    margin-top: 40px;
    margin-bottom: 20px;
    background-color: #1b1b1b;
    padding: 25px;
    border-radius: 10px;
    border: 2px solid rgb(20, 20, 20);
}
