/*-------------------------------------------------------- PLAYGROUND.JSX--------------------------------------------------------*/
.image-file-input {
    display: none;
}

.image-upload {
    border: dashed 2px #6fff8f;
    border-radius: 22px;
    cursor: pointer;
    height: 650px;
    padding: 20px;
    margin: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

.image-upload label {
    cursor: pointer;
    border: dashed 2px #6fff8f;
    border-radius: 10px;
    padding: 10px;
    font-size: 2rem;
}

/* Custom scrollbar for all scrollbars */
* {
    scrollbar-width: thin;
    scrollbar-color: #c0f0ca #000000;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #000000;
    border-radius: 8px;
}
::-webkit-scrollbar-thumb {
    background: #c0f0ca;
    border-radius: 8px;
}
::-webkit-scrollbar-thumb:hover {
    background: #80af8a;
}

.playground-heading {
    margin: 20px
}

.divider {
    border: dashed 2px #6fff8f;
}

input[type="range"] {
    accent-color: #ffffff;
    cursor: pointer;
}

/*-----------------------------------------------PLAYGROUND PANEL-----------------------------------------------*/
.playground-panel {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

.play-panel-heading {
    margin-top: 40px;
    margin-bottom: 20px;
    background-color: #1b1b1b;
    padding: 25px;
    border-radius: 10px;
    border: 2px solid rgb(20, 20, 20);
}

.playground-controls {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    background-color: #1b1b1b;
    padding: 25px;
    border-radius: 10px;
    border: 2px solid rgb(20, 20, 20);
    width: 250px;
}

input[type="checkbox"] {
    accent-color: #3c3c3c; 
    width: 20px;
    height: 20px;
    cursor: pointer;
}

#characterSet {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #ffffff;
    background-color: #242424;
    border-radius: 6px;
    cursor: pointer;
    outline: none;
    transition: border-color 0.2s;
}

#characterSet:focus {
    border-color: #0f0f0f;
}

#characterSet::after {
    content: "";
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #666;
    pointer-events: none;
}

